    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
	  background-color:#1F1F1F;
    }

    #myCarousel {
      width:640px;
      height:360px;
    }

    .topnav {
      background-color: #333;
      overflow: visible;
      position: relative;   
      height:60px;
      border-bottom: 2px solid #333;
    }
    .text {
      overflow:hidden;
      position: absolute;
    }
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #4CAF50;
      color: white;
    }

    .topnav .icon {
      display: none;
    }

    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {
        display: none;
      }

      .topnav a.icon {
        float: right;
        display: block;
      }
    }

    @media screen and (max-width: 600px) {
      .topnav.responsive {
        position: relative;
      }

      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }

      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
	.btn{
		border-radius: 0 !important;
		background-color:#333;
    border-color: #333;

		color:#f2f2f2;
	}
	.btn:hover {
      background-color: #ddd;
      color: black;
    }

	
    hr {
      height:1px;
      border-width:0;
      background-color:grey;
    }
  

  
    .topnav{
      background-color:#1F1F1F;
    }
  
    .dropdown-content{
      background-color:#959595;
    }
  
    a{
      color:white;
    }
  
    p{
      color:white;
    }
    
    h1{
      color:white;
    }

    h4{
      color:white;
    }
  
  
    .search-container {
    position: relative;
    display: inline-block;
  }
  
  .search-input {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 250px;
    margin-bottom: 16px;
  }
  
  .search-results {
    position: absolute;
    z-index: 1;
    width: 250px;
    height: 120px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #1F1F1F;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .search-results div {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .search-results div:hover {
    background-color: #ddd;
    color:black;
  }
  

  .search-results-container-2 {
    top: 44px;
  }
  
  .search-results-container-1-top {
      position: relative;
      top: 44px;
  }


  .dropdown {
    float: left;
    position: relative;
    }
  
    .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    }
  

  
    .dropdown-content {
    display: none;
    position: absolute;

    background-color: #292929;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    }
  
    .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
  
    .dropdown-content a:hover {
    background-color: #ddd;
    }
  
    .dropdown:hover .dropdown-content {
    display: block;
    }



    #myImg {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
  
    #myImg:hover {
      opacity: 0.7;
    }
  
    .contentImage{
      width : 180px;
      height : 200px;
    }
  
    .contentImagerecommend{
      width : 100%;
      height : 200px;
    }

    .contentImageProfile{
      width : 20%;
      height : 50px;
    }
  
    
    .contentImageProfileRec{
      width : 80%;
      height : 70px;
    }

    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }
  
  
  
    @keyframes zoom {
      from {
        transform: scale(0)
      }
  
      to {
        transform: scale(1)
      }
    }
  
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }
  
    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  
  
  
   .my-div {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    width: 500px;
    height: auto;
    z-index: 1;
    overflow: hidden;
  }
  
  
    .image-container {
      position: relative; /* Set the parent container to be a positioned element */
  
      display: inline-block;
    }
  
    .image-container:hover .my-div {
      display: block;
    }
  
    @media only screen and (max-width: 700px) {
      .modal-content {
        width: 100%;
      }
    }

    .listbtn{
      background-color:#292929;
    }


    .input-style{
      width:200px;
      display: inline-block;
    }


    .dropdown-content-profile {
      display: none;
      position: absolute;
      top: 100%;
      left: -100%; /* Set to negative value to position menu to the left */
      z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown.right {
      float:right;
  }
    
    .dropdown.right .dropdown-content {
        left: auto;
        right: 0;
    }


    .search-container-top {
      position: relative;
      top: 12px;
      color:white;
      background-color: #1F1F1F;
    }

    .fa-2x{
      color:white;
    }

    h2{
      color:white;
    }

    td{
      color:white;

    }

    th{
      color:white;

    }

    tr{
      color:white;

    }
    label{
      color:white;

    }


    .modal-content{
      background-color:#1F1F1F;
      color:white;
    }

    .modal-content input {
      background-color:#1F1F1F;

      color:white;
    }

    .modal-content select{
      background-color:#1F1F1F;

      color:white;
    }

    .modal-content textarea{
      background-color:#1F1F1F;

      color:white;
    }

    .btn-primary{
      background-color:#1584ab;
    }